<app-breadcrumb [title]="'Add Duration'">
    <div class="buttons text-end">
        <button class="btn btn-sm  btn-success " form="add-duration">Save</button>
    </div>
</app-breadcrumb>

<div class="card">
    <div class="card-body">
        <div>
            <form [formGroup]="addDuration" (ngSubmit)="onSubmit()" id="add-duration">
                <div class="row">
                    <div class=" col-12 col-md-6 mb-3">
                        <label for="make-name" class="form-label">Duration
                            Title<app-required-star-icon></app-required-star-icon></label>
                        <app-basic-input-field formGroupName="basicInfo"
                            [formControlNameValue]="'warranty'"></app-basic-input-field>
                        <small class="text-danger" *ngIf="submitted && f.warranty.errors?.required">
                            Duration title is required
                        </small>
                    </div>
                    <div class=" col-12 col-md-6 mb-3">
                        <label for="make-name" class="form-label">Days<app-required-star-icon></app-required-star-icon></label>
                        <app-number-input-field formGroupName="basicInfo" [Placeholder]="'Enter Duration'" [maxLength]="10"  [formControlNameValue]="'days'"></app-number-input-field>
                        <small class="text-danger" *ngIf="submitted && f.days.errors?.required">
                            Duration Days is required
                            </small>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">Description</label>
                        <app-description formGroupName="basicInfo"
                            [formControlNameValue]="'description'"></app-description>
                    </div>
                    <div class="col-12">
                        <app-active-switch formGroupName="basicInfo"
                            [formControlNameValue]="'switch'"></app-active-switch>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>