<app-breadcrumb [title]="'Add Tax Rate'">
    <div class="buttons text-end">
        <button class="btn btn-sm  btn-success " form="add-taxrate">Save</button>
    </div>
</app-breadcrumb>

<div class="card">
    <div class="card-body">
        <div>
            <form [formGroup]="addTaxRate" (ngSubmit)="onSubmit()" id="add-taxrate">
                <div class="row">
                    <div class=" col-12 col-md-6 mb-3">
                        <label for="make-name" class="form-label">Tax Rate
                            Title<app-required-star-icon></app-required-star-icon></label>
                        <app-basic-input-field formGroupName="basicInfo"
                            [formControlNameValue]="'taxrate'"></app-basic-input-field>
                        <small class="text-danger" *ngIf="submitted && f.taxrate.errors?.required">
                            Tax rate title is required
                        </small>
                    </div>
                    <div class=" col-12 col-md-6 mb-3">
                        <label for="make-name" class="form-label">Rate <app-required-star-icon></app-required-star-icon></label>
                        <app-basic-input-field formGroupName="basicInfo"
                            [formControlNameValue]="'rate'"></app-basic-input-field>
                        <small class="text-danger" *ngIf="submitted && f.rate.errors?.required">
                            Rate is required
                        </small>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">Description</label>
                        <app-description formGroupName="basicInfo"
                            [formControlNameValue]="'description'"></app-description>

                    </div>
                    <div class="col-12">
                        <app-active-switch formGroupName="basicInfo"
                            [formControlNameValue]="'switch'"></app-active-switch>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>