<app-breadcrumb [title]="'Add City'">
    <div class="buttons text-end">
        <button class="btn btn-success btn-sm" form="add-city">Save</button>
    </div>
</app-breadcrumb>

<div class="card">
    <div class="card-body">
        <div>
            <form [formGroup]="addCity" (ngSubmit)="onSubmit()" id="add-city">
                <div class="row">
                    <div class=" col-12 mb-3">
                        <label for="make-name" class="form-label">City
                            Name<app-required-star-icon></app-required-star-icon></label>
                        <app-basic-input-field formGroupName="basicInfo"
                            [formControlNameValue]="'cityName'"></app-basic-input-field>
                        <small class="text-danger" *ngIf="submitted && f.cityName.errors?.required">
                            City name is required
                        </small>
                    </div>
                    <div class=" col-12 col-md-6 mb-3">
                        <label for="make-name"
                            class="form-label">State<app-required-star-icon></app-required-star-icon></label>
                        <ng-select [items]="state" placeholder="Select State" class="js-example-basic-single"  bindLabel="name" bindValue="name"
                        formControlName="state"></ng-select>
                        <small class="text-danger" *ngIf="submitted && a.state.errors?.required">
                            State is required
                        </small>
                    </div>
                    <div class=" col-12 col-md-6 mb-3">
                        <label for="make-name"
                            class="form-label">Country<app-required-star-icon></app-required-star-icon></label>
                        <ng-select [items]="country" placeholder="Select State" class="js-example-basic-single"  bindLabel="name" bindValue="name"
                        formControlName="country"></ng-select>
                        <small class="text-danger" *ngIf="submitted && a.country.errors?.required">
                            Country is required
                        </small>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="description" class="form-label">Description</label>
                        <app-description formGroupName="basicInfo"
                            [formControlNameValue]="'description'"></app-description>
                    </div>
                    <div class="col-12">
                        <app-active-switch formGroupName="basicInfo"
                            [formControlNameValue]="'switch'"></app-active-switch>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>